body {
	overflow: hidden;
	background-color: #FBFBEC;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
}

#logo{
	width: 25px;
}

#nav {
	position:fixed;
	width:100%;		
	font-weight:600;
	font-size:1.125em;
	padding:1em 0;
	background:#fff;
	z-index:999;
}

#nav:before{
	content : "";
  	position: absolute;
  	left    : 4%;
  	bottom  : 0;
  	width   : 92%;
  	border-bottom:3px solid #DA3F31;
}

#nav li {
	display:inline-block;
	padding:0.5em 0.5em;
}

#nav ul {
	padding:0;
	margin:0;
	text-align:right;
}

#nav h1{	
	text-align:left;
	font-size: 30px;
	font-weight: 300;
	padding:0;
	margin:0;
	margin-left:10%;
	text-align:left;
	
}

#nav .links a{
	font-size: 18px;
}

#nav .links a:link, a:visited {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
    	color: #000000;
    	text-decoration: none;
}

a:link, a:visited{
	color: #000000;
	text-decoration: none;;
}

.container-1{
	width: 40%; 
}

.container-2{
	width: 55%;
}

.underline {
	display: inline-block;
	position: relative;
	padding-bottom: 6px;
}

.underline:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.underline:hover:after {
	width: 100%;
	background: #69CF90;
}

#home{
	position: absolute;
	text-align: center;
	z-index: 25;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 16.5%;
}

#home h2{
	font-size: 40px;
	font-weight: 300;
}

#home h3{
	margin-top: -1.5%;
	font-weight: 300;
}

.dog{
	position: fixed;
	z-index: -1;	
	top: 10%;
	background-image: url("dogs.png");
	background-position: center center;
    	background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-size: cover;
    	height: 100%;
    	width: 100%;
}	



.green{
	color: #8ECA76;
	font-weight: 400;
}

.red{
	color: #F4806E;
	font-weight: 400;
}	

.blue{
	color: #98C9EC;
	font-weight: 400;
}

.slicknav_menu{
	display: none;
}

@media only screen
   and (min-device-width : 320px)
   and (max-device-width : 480px){ 

	#nav h1{
		font-size: 18px;
	}

	#home{
		top: 20%;
	}

	#home h2{
		font-size: 30px;
	}

	.dog{
		background-image:
			linear-gradient(
      			rgba(255, 255, 255, 0.9),
      			rgba(255, 255, 255, 0.9)
    			),
			url("dogs.png");
	}
}

@media only screen and (max-width: 767px) {
	.slicknav_menu {
		display:block;
	}

	#menu{
		display:none;
	}

	.container-1{
		width:100%;
	}
}


/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}

