body {
	padding:0;
	margin: auto;
	overflow-x: hidden;
	background-color: #f7f7f7;
	-webkit-backface-visibility: hidden;
}

.nav-bar{
	position: fixed;
	width: 100%;
	height: 64px;
	padding: 0;
	margin: -20px auto;
	background-color: #ffffff;
}

.red-line{
 	margin: auto;
  	position: absolute;
  	left: 0; right: 0;
	width: 90%;
	height: 3px;
	background-color: #ff5252;
}

.nav-section{ top: 9%; }
.cont-nav{ width: 125px; }
.serv-nav{ width: 150px; }
.about-nav{ width: 150px; }
.home-nav{ width: 100px; }

.nav-logo{
	position: fixed;
	width:200px;
	left: 5%;
	top: 3%;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;	
} 

ul {
	overflow: hidden;
    	margin: 0;
	margin-right: 6%;
    	padding: 0;
}

li {
	float: right;
    	list-style: none;
	
}

a:link, a:visited {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
    	color: #000000;
	text-align: center;
    	text-decoration: none;
}

.underline {
	display: inline-block;
	position: relative;
	padding-bottom: 6px;
}

.underline:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.underline:hover:after {
	width: 100%;
	background: #69CF90;
}









.no-svg .logo {
  width: 10%;
  height: 10%;
  background-image: url(logo.png);
}

.no-svg .ball {
  width: 15%;
  height: 15%;
  background-image: url(ball.png);
}

.no-svg .bone {
  width: 15%;
  height: 15%;
  background-image: url(bone.png);
}

.no-svg .box {
  width: 15%;
  height: 15%;
  background-image: url(box.png);
}

.no-svg .bowl {
  width: 15%;
  height: 15%;
  background-image: url(bowl.png);
}

.no-svg .rope {
  width: 15%;
  height: 15%;
  background-image: url(rope.png);
}

.no-svg .hydrant {
  width: 15%;
  height: 15%;
  background-image: url(hydrant.png);
}