body {
	overflow: hidden;
	background-color: #E6F4F2;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

#logo{
	width: 8%;
}

.nav{
	position: fixed;
	background-color: white;
	width: 100%;
	max-height: 25%;
}

.nav h1{
	float:left;
	font-size: 30px;
	font-weight: 200;
	max-width:400px;
	margin-left: 4%;
	margin-top: 1px;
}

.nav ul {
	list-style: none;
	margin-right: 4%;
	text-align:right;
}

.nav li {
	display: inline-block;
	
}

.nav a{
	display: block;
	font-size: 18px;
	padding: 10px 10px;
}

.red-line{
	width: 92%;
	margin-left: 4%;
	background-color:#DA3F31;
	height: 3px;
}

a:link, a:visited {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
    	color: #000000;
	text-align: center;
    	text-decoration: none;
}

.underline {
	display: inline-block;
	position: relative;
	padding-bottom: 6px;
}

.underline:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.underline:hover:after {
	width: 100%;
	background: #69CF90;
}

.home{
	position: absolute;
	width: 100%;
	margin-top: 100px;
	text-align: center;
}

.home h2{
	font-size: 40px;
	font-weight: 200;
}

.home h3{
	font-weight: 200;
}

.home #subheader{
	line-height: 0px;
}

#dog{
	position: absolute;
	top: 10%;
}	

.green{
	color: #8ECA76;
	font-weight: 500;
}

.red{
	color: #F4806E;
	font-weight: 500;
}	

.blue{
	color: #98C9EC;
	font-weight: 500;
}

