body {
  	padding-top: 70px;
  	padding-bottom: 30px;
  	background-color: #DEE7FF;
	overflow: hidden;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
  	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

.navbar{
	background-color: #5C85FF;
}

canvas{
	position: fixed;
	z-index: 50;
    	margin:auto;
    	width: 100%;
}

.underline {
	display: inline-block;
	position: relative;
	padding-bottom: 6px;
}

.underline:after {
	content: '';
	display: block;
	margin: auto;
	margin-top:-12px;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.underline:hover:after {
	width: 75%;
	background: #EBEBFF;
}

.doggiedo{
	font-family: 'Bree Serif', serif;
	color: #FFFFFF;
}
